<!-- /snippets/fixins.liquid -->

<div id="hero-fixins">
  <div class="wrapper">
    <h2>The freshest ingredients we could find. <div>Even the <span class="nw">hard-to-find</span> kind.</div></h2>
    <div class="hero-fixins__copy-box">
      <div>
        <h3>We like to get fresh.<br /> No offense.</h3>
        <p class="lead">From ripe red tomatoes to freshly diced serrano peppers to real lime juice, no one smokes meat like we do, using real, whole ingredients instead of just spice blends. We geek out on the ingredients we use because when it comes to flavor, what you’re made of matters.</p>
        {{ 'hero-fixins-pepper.png' | asset_url | img_tag }}
        <div class="silly-mega-button silly-mega-button--white"><p><a href="{{ pages.ingredients.url }}" class="btn btn--alt">Dig Into Our <em>Freshly Crafted</em> Mission</a></p></div>
      </div>
    </div>
  </div>
</div>
