<!-- /snippets/meat-not-candy.liquid -->

<div id="hero-meat-not-candy">
  <div class="wrapper">
    <div>
      {{ 'hero-meat-headline.png' | asset_url | img_tag: 'It’s meat not candy.' }}
      {{ 'hero-meat-meat.png' | asset_url | img_tag }}
    </div>
    <p class="lead">There’s a lot of sugar going into so-called “healthy” jerky and smoked meats these days. Why? It’s a cheap filler, a fast tenderizer, and it satisfies people’s sugar craves. <span>At Duke’s we don’t believe in sugarcoating the truth or our meats.</span></p>
    <div class="silly-mega-button"><p><a href="{{ pages.flavor-not-sugar.url }}" class="btn btn--alt">Learn why we<br class="medium-down--show" /> think putting sugar<br class="medium-down--show" /> on meat is nuts</a></p></div>
  </div>
</div>
