<!-- /snippets/our-process.liquid -->

<div id="hero-our-process">
  <div class="wrapper">
    <h2><span>Shortcuts Suck</span> We’ve never met one we think tastes good</h2>
    {{ 'hero-our-process-illustration-01.png' | asset_url | img_tag }}
    <p class="lead">We definitely don’t do things the easiest or most efficient way, but you can’t rush a great thing and we’re all about making <span class="nw">great-tasting</span> smoked meats.</p>
    <div class="silly-mega-button"><p><a href="{{ pages.process.url }}" class="btn btn--alt">Check Out Our<br class="medium-down--show" /> Freshly Crafted<br class="medium-down--show" /> Process</a></p></div>
  </div>
</div>
