<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="wrapper">

<script type="text/javascript" src="//assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">@import url(//assets.freshdesk.com/widget/freshwidget.css);</style>
<iframe title="Contact Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="//thanasifoods.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=no&searchArea=no&captcha=yes" scrolling="no" height="650px" width="100%" frameborder="0" >
</iframe>
  
</div>
