<!-- /templates/page.contact.liquid -->

<div class="wrapper">

{{ page.content }}

<script type="text/javascript" src="//assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">@import url(//assets.freshdesk.com/widget/freshwidget.css);</style>
<iframe title="Contact Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="//thanasifoods.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=no&searchArea=no&captcha=yes" scrolling="no" height="450px" width="100%" frameborder="0" >
</iframe>
  
</div>
