<!-- /templates/page.process.liquid -->

<div id="process-hero-video-container" class="hero-video-container">
  <iframe src="//player.vimeo.com/video/190658111?title=0&byline=0&portrait=0&loop=true" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="wrapper-duct-tape">
  <div class="ingredients-lead-container">
    <h1>Duke’s freshly crafted promise</h1>
  </div>
</div>

<div class="wrapper-duct-tape">

  <div class="process-promise-item-container">
    <h2>No. 1</h2>
    <h3>Fresher Cuts of Meat</h3>
    <p>Our steak and brisket strips are carefully crafted with 100% grass-fed beef. We use fresh, never frozen pork and chicken that is delivered to our kitchen at roughly 32 degrees. It’s not easy (it’s why most other brands don’t do it), but we wouldn’t do it any other way.</p>
    {{ 'process-pig.png' | asset_url | img_tag }}
  </div>

  <div class="process-promise-item-container">
    <h2>No. 2</h2>
    <h3>Real, Whole Ingredients…<br /> (Not Just Dried Spices)</h3>
    <p>Dried spices are great, but nothing can recreate the flavor of real chile oils, ripe vegetables, juicy fruits, and diced herbs when it comes to flavoring meats. It’s the not-so-secret way we get our fresh flavor mojo.</p>
    {{ 'process-peppers.png' | asset_url | img_tag }}
  </div>

  <div class="process-promise-item-container">
    <h2>No. 3</h2>
    <h3>Creative, Fresh Smoke Pairings</h3>
    <p>We bring a different level of creativity to how we smoke our meats. Red wine-soaked barrel wood, avocado wood chips, bourbon barrel planks… Hell yeah. Different, unique hardwood smokes add more complex and nuanced flavors to our meats.</p>
    {{ 'process-peaches.png' | asset_url | img_tag }}
  </div>

  <div class="process-promise-item-container">
    <h2>No. 4</h2>
    <h3>Freshly Crafted in Small Batches</h3>
    <p>All our meats are made in small batch case quantities. Next time you are enjoying a bag of Duke’s, flip over the bag. We stamp the specific batch case quantity right there on the back for you to see.</p>
    {{ 'process-paper.png' | asset_url | img_tag }}
  </div>

</div>
