<!-- /templates/page.process.liquid -->

<div class="process-hero-container hide">
</div>

<div class="wrapper-duct-tape">
  <div class="ingredients-lead-container">
    <h1>Duke’s freshly crafted promise</h1>
  </div>
</div>

<div class="wrapper-duct-tape">

  <div class="process-promise-item-container">
    <h2>No. 1</h2>
    <h3>Fresh, Never Frozen Meats</h3>
    <p>We work hard to ensure meats are delivered to our kitchens right at 32 degrees whenever possible. We’d no sooner freeze our meat than we would freeze a good steak.</p>
    {{ 'process-pig.png' | asset_url | img_tag }}
  </div>

  <div class="process-promise-item-container">
    <h2>No. 2</h2>
    <h3>Fresh, Real or Whole Ingredients<br /> (Not Just Dried Spices)</h3>
    <p>Dried spices are great, but nothing can recreate the flavor of real chile oils, ripe vegetables, juicy fruits, and diced herbs when it comes to flavoring meats. It’s the not-so-secret way we get our fresh flavor mojo.</p>
    {{ 'process-peppers.png' | asset_url | img_tag }}
  </div>

  <div class="process-promise-item-container">
    <h2>No. 3</h2>
    <h3>Creative, Fresh Smoke Pairings</h3>
    <p>We bring a different level of creativity to how we smoke our meats. Red wine-soaked barrel wood, avocado wood chips, single barrel bourbon cask planks… Hell yeah. Different, unique hardwood smokes add more complex and nuanced flavors to our meats.</p>
    {{ 'process-peaches.png' | asset_url | img_tag }}
  </div>

  <div class="process-promise-item-container">
    <h2>No. 4</h2>
    <h3>Freshly Crafted in Small Batches</h3>
    <p>All of our meats are made in small batch case quantities of 250 cases or less. Next time you are enjoying a bag of Duke’s, flip over the bag. We stamp the specific batch case quantity right there on the back for you to see.</p>
    {{ 'process-paper.png' | asset_url | img_tag }}
  </div>

</div>
